@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
  background-color: #0b1d2a;
  color: #dce8f2;
}
